<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".AuthApp"
        android:icon="@drawable/img"
        android:roundIcon="@drawable/img"
        android:label="Mudra"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthApp">
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials"
            android:value="925567386189-ip1kefjbvr4o1qsu0qouhbg9ohv2cs2l.apps.googleusercontent.com" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AuthApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>